services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

      # JWT
      - SECRET_ACCESS_KEY=${SECRET_ACCESS_KEY}
      - SECRET_REFRESH_KEY=${SECRET_REFRESH_KEY}
      - ACCESS_MINUTES=${ACCESS_MINUTES}
      - REFRESH_DAYS=${REFRESH_DAYS}

      # MAIL SERVICE
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}

      # BUCKET SERVICE (Cloudflare R2)
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
      - R2_S3_ENDPOINT=${R2_S3_ENDPOINT}
      - R2_PUBLIC_BASE_URL=${R2_PUBLIC_BASE_URL}

      # DEBUG
      - RUST_BACKTRACE=1
      - RUST_LOG=info,sqlx=warn

    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    command: >
      sh -c "
        echo 'Waiting for database to be ready...' &&
        sleep 5 &&
        /app/backend-v1
      "

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  migration:
    build: .
    command: >
      sh -c "
        until pg_isready -h db -p 5432; do
          echo 'Waiting for database...'
          sleep 2
        done &&
        echo 'Running migrations...' &&
        ./backend-v1 --migrate
      "
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

      # JWT
      - SECRET_ACCESS_KEY=${SECRET_ACCESS_KEY}
      - SECRET_REFRESH_KEY=${SECRET_REFRESH_KEY}
      - ACCESS_MINUTES=${ACCESS_MINUTES}
      - REFRESH_DAYS=${REFRESH_DAYS}

      # MAIL SERVICE
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}

      # BUCKET SERVICE (Cloudflare R2)
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
      - R2_S3_ENDPOINT=${R2_S3_ENDPOINT}
      - R2_PUBLIC_BASE_URL=${R2_PUBLIC_BASE_URL}

    depends_on:
      db:
        condition: service_healthy
    profiles:
      - migrate

volumes:
  postgres_data:
